
/*Variables globales*/

:root {
    --verdeOscuro: #748E63;
    --verdeClaro: #99B080;
    --gris: #bdbdbd;
    --negro: #000;
    --blanco: #fff;

    --fuente: font-family: 'Kanit', sans-serif;
}

/*Estilos Generales*/

html {
    box-sizing: border-box;
    font-size: 62.5%; /*10px = 1rem*/
    font-family: var(--fuente);
}

*, *:before, *:after {
    box-sizing: inherit;
}

body {
    background-color: var(--verdeClaro);
    font-size: 1.5rem;
    line-height: 1.5;
}

p {
    font-size: 1.5rem;
    color: var(--blanco);
}

a {
    text-decoration: none;
    color: var(--blanco);
    font-family: var(--fuente);
}

img {
    width: 100%; 
}

h1, h2, h3 {
    text-align: center;
    color: var(--verdeOscuro);
}

h1 {
    font-size: 4rem;
    color: var(--blanco);
}

h2 {font-size: 3.2rem;}
h3 {font-size: 2.4rem;}

/*Estilos Especificos*/

/*Header*/

.header {
    display: flex;
    justify-content: center;
}

.header--span {
    color: var(--verdeOscuro);
    font-size: 4rem;
    line-height: 0%;
    padding-bottom: 2rem;
}

/*Nav*/

.nav {
    display: flex;
    justify-content: center;
    background-color: var(--verdeOscuro);
    padding: 1rem 0;
    gap: 5rem; /*Separa elementos que esten dentro de un contenedor con flex*/
}

.nav__link {
    font-size: 2rem;
    margin-right: 3rem;
}

.nav__link:last-of-type {
    margin-right: 0;
}

.nav__link--activo, .nav__link:hover {
    color: var(--verdeClaro);
}

/*Main*/

.contenedor {
    /* width: 100%; */
}

.grid {

}

.producto {

}

.producto__img {

}

.producto__info {

}

.producto__name {

}

.producto__price {

}

/*Footer*/

.footer {
    background-color: var(--verdeOscuro);
    padding: .8rem 0;
    margin-top: 2rem;
}

.footer__text {
    text-align: center;
    font-size: 1.8rem;
}