
{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap" rel="stylesheet">
    <link rel="stylesheet" href={% static "css/styles.css" %}>
    <title>Restaurante</title>
</head>
<body>
    <header>
        <h1>Restaurante</h1>
    </header>
    <nav>
        <a href={% url "index" %}>Inicio</a>
        <a href={% url "sobreNosotros" %}>Sobre Nosotros</a>
        <a href={% url "menu" %}>Menu</a>
        <a href={% url "contactanos" %}>Contactanos</a>
    </nav>
    <section id="content">
        {% block content %}

        {% endblock content %}
    </section>
</body>
</html>